<div class="container" style="height: 90vh;">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="distripp-3">Welcome ShareTrippers!</h1>
        <p class="lead">SharedTripp is the best way to road across the country. <br> Find yours SharedTripp's
            buddies, when you share with us yours tripp plans and let the exploration begin!</p>
        <a href="/create" class="btn btn-primary btn-lg">Offer Tripp!</a>
    </header>

    <div class="row text-center">

        <div style="width: 100%;">
            <img style="max-width: 500px;" src="https://hicomm.bg/uploads/articles/202001/62516/mainimage-prvoto-hibridno-maserati-shche-bde-pokazano-na-21-april.jpg" />
            <p class="lead" style=" width: 100%; text-align: center; font-size: 22px; font-style: italic;">
                Hitchhiker time...</p>
        </div>
    </div>
</div>