<div class="container" style="height: 90vh;">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="distripp-3">Welcome ShareTrippers!</h1>
        <p class="lead">SharedTripp is the best way to road across the country. <br> Find yours SharedTripp's
            buddies, when you share with us yours tripp plans and let the exploration begin!</p>
        <a href="/create" class="btn btn-primary btn-lg">Offer Tripp!</a>
    </header>

    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
        {{#each tripps}}
            <div class="card h-100">
                <img class="card-img-top" src="{{carImage}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{startPoint}} - {{еndPoint}}</h4>
                </div>
                <div class="card-footer">
                    <a href="/details/{{id}}" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>